body{
    background-color: #e1e4db;
    font-family: 'Times New Roman', Times, serif;
}
.card{
    background-color: white;
    width:300px;
    padding: 20px;
    margin:100px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px;
}
.card img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    
}
button{
    padding: 8px 15px;
    border:none;
    background-color: #ccddee;
    color:rgb(20, 18, 18);
    cursor: pointer;
    margin-top: 10px;

}
buttom:hover{
    background-color: aquamarine;
}