body{
    background-color: #eef9de;
    font-family:  Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #004080;
    color:white;
    padding: 15px;
    text-align: center;
}
header ul{
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    
}
header ul li{
    display: inline;
    margin-right: 20px;
}
header ul li a{
    color:white;
    text-decoration: none;
}
header ul li a:hover{
    text-decoration: underline;
}
.photo img{

    width:100%;
    max-width: 600px;
    border-radius: 10px;

}
section{
    
    width:80%;
    max-width: 600px;
    margin:20px auto;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}
section h3{
    text-align: center;
    color:#004080;
}
.courses ul{
    list-style-type: square;
}
footer{
    text-align: center;
    background-color: #9bc3e5;
    color:white;
    padding:10px 0;
    margin-top: 20px;
}
.contact h3{
    text-decoration: underline;
}
.contact p{
    font-size: small;
}
.courses h3{
    text-decoration: underline;
}
.about h3{
    text-decoration: underline;
}