div{
    background-color: rgb(115, 235, 195);
    height: auto;
    width: 450px;
border: 2px solid black;
    margin: auto;
    border-radius: 10px;
}
div h1{
    
    padding: 5px;
    border:1px solid black;
    
    color:rgb(24, 28, 161);
    font-family: 'Times New Roman', Times, serif;
    background-color: palegreen;
}