body{
    display:flex;
    flex-direction: column;
 align-items: center;
 font-family: Arial, Helvetica, sans-serif;
 background-color: #f0f0f0;
}
h1{
    margin: 20px;
    color:#e31d1d;
}
.gird{
    display:grid;
    grid-template-columns: repeat(3,100px);
    gap: 15px;
}
.number{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #4caf50;
    color:white;
    font-size: 40px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.1s;
    outline:none;
}
.number:hover{
    background-color:#371c9c;
    transform:scale(1.5);
}
.number:active{
    transform: scale(0.95);
    background-color: aqua;
}
.number:focus{
    border:3px solid #ff5722;
}