table{
    border: 1px solid black;
    margin:auto;
}
h1{

    text-align: center;
    text-decoration: underline;
}
th{
    color:blue;
    background-color: blanchedalmond;
    font-size: 20px;

    font-family: 'Times New Roman', Times, serif;
}
td{
    color:darkgoldenrod;
    background-color: azure;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}